<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>BMI</title>
</head>
<body>
    
  {% block content %}

<div class="forma">
  <h1 class="bmi">BMI calculator</h1>
  <form action="#" method="post">
    <label for="weight">Please enter your weight</label>
    <input type="number" name="weight"  required>
    <label for="height">Please enter your height</label>
    <input type="number" name="height"  required>
    <input type="submit" value="Enter">
  </form>
</div>

{% endblock %}


</body>
</html>
